*{
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
}

.shown{
    height: 100vh;
    padding: 30px;
    display: block;
    background-image: url("https://workhaus.ca/wp-content/uploads/2021/09/Private-Office-5-1024x684.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



.card_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 400px;
    

}

.card p{
    color: orangered;
}

.card{
    width: 200px;
    height: 120px;
    text-align: center;
    padding: 20px 30px;
    
}

.card h2 {
    color: black;
    
}

.blur{
    filter: blur(8px);
    pointer-events: none;
}

.show{
    display: block;
}

.mistnosti, .technici{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(63, 45, 228);
    padding: 30px;
    z-index: 10;
}
