*{
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
}

.cely{
    height: 100vh;
    padding: 30px;
    display: block;
    background-image: url("https://workhaus.ca/wp-content/uploads/2021/09/Private-Office-5-1024x684.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



.card_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 400px;
    

}

.card p{
    color: orangered;
}

.card{
    width: 200px;
    height: 120px;
    text-align: center;
    padding: 20px 30px;
    
}

.card h2 {
    color: black;
    
}

.card button{
    color: black;
    background-color: transparent;
    border: 1px solid black;
    padding: 5px 50px;
}