*{
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
}

.cely{
    height: 100vh;
    padding: 0;
    margin: 0;
    display: block;
    background-image: url("https://www.ggs-interior.com/uploads/articles/73/banner-20.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.card_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card p{
    color: orangered;
}

.card{
    width: 200px;
    padding: 20px 30px;
}

.card h2 {
    color: wheat;
    
}

.card button{
    color: wheat;
    background-color: transparent;
    border: 1px solid gold;
    padding: 5px 50px;
}